.cover{
  background: url("music.PNG") top left no-repeat;
  height: 600px;
  width: 100%;
}
/*.opa{
  background: 	#e6ffff;
  height: 600px;
  width: 86%;
  opacity: 0.7;
  filter: alpha(opacity=60);
  margin-top: 50px;
}*/
