@font-face {
  font-family: 'Blitz';
  src: url('/fonts/Blitz.ttf');
}
a {
  color: #E8280B;
  text-decoration: underline;
}
a:hover {
  color: #7ec167;
}
.wrapper {
  color: #4a4343;
  font-family: 'Gudea', sans-serif;
}
.site-header {
  padding: 30px 0;
}
.site-logo {
  color: #E8280B !important;
  text-decoration: none !important;
  font-family: 'Blitz', serif;
}
.site-tagline {
  font-weight: bold;
  font-size: 16px;
}
.section-heading {
  color: #E8280B;
  font-family: 'Russo One', sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.home-section-hero {
  background-image: url(/img/bg-home-section-1.png);
  height: 600px;
  padding: 30px 0;
}
.home-section-discography {
  background-image: url(/img/bg-home-section-discograpy.png);
  height: 600px;
  padding: 30px 0;
}
.home-section-studio {
  background-image: url(/img/bg-home-section-studio.png);
  height: 600px;
  padding: 30px 0;
}
