<div class="rating-slider-section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mt-4">
        <h3 class="slider-title font-weight-bold pt-4">
          <span class="title-img pl-4 d-inline-block"></span>
          Average Rating Worldwide: 4,5
          <span class="title-img pl-4 d-inline-block"><img src="/images/ReviewRatingWW.png" alt="icon"></span></h3>
      </div>
    </div>
  </div>
  <div class="multiple-items slider" data-sizes="100vw" data-interval="1000">
    {% for review in site.awards %}
      <div class="text-center review-item">
        <img class="d-inline-block" src="/images/ReviewRating{{ review.stars }}.png" alt="slider-item-img">
        <p class="country-name mt-2 mb-3 font-weight-bold">{{ review.country }}</p>
        <h4 class="mt-2 mb-3 font-weight-bold">{{ review.title }}</h4>
        <p>{{ review.description }}</p>
      </div>  
    {% endfor %}
  </div>
</div>