<style>
.my-player{
  margin-top: 25px;
  margin-bottom: 25px;
}
</style>
<link rel="stylesheet" href="css/plyr.css">
<script src="https://cdn.plyr.io/2.0.18/plyr.js"></script>
{% if page.songs_url %}
<div class="my-player">
<audio  class="plyr my-player">
  <source src="{{ page.songs_url }}" type="audio/mp3">
</audio>
</div>
{% endif %}
{% if page.video_url %}
<div class="my-player">
  <video class="plyr " >
    <source src="{{ page.video_url }}" type="video/mp4">
  </video>

</div>
{% endif %}
<script>
    plyr.setup();
</script>
