<footer class="site-footer">
  <div class="container">
    <div class="row contact-row">
      <div class="col-sm-6 contact">
        <h3 class="section-heading"><img src="/img/header_contact.png" width="350" alt=""/></h3>
        <a href="mailto:gijs@redhouse.nl" class="artist-website" target="_blank">gijs@redhouse.nl</a>
        <p class="footer-copyright">&copy; 2019</p>
      </div>
      {% if page.layout == "discography" or page.layout == "home" %}
      <div class="col-sm-6 right site-social-media">
        <a href="{{ site.facebook_url }}" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="{{ site.instagram_url }}" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </div>
      {% endif %}
    </div>
  </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>

