<div class="row site-header">
  <div class="col-sm-6">
    <h1><a href="/" class="site-logo">RedHouse</a></h1>
    {% if page.layout == "home" %}
    <p class="site-tagline">Music ■ Production ■ Mixing</p>
    {% endif %}
  </div>
  {% if page.layout == "project" %}
  <div class="col-sm-6 nav-wrapper">
    <ul class="breadcrumb-nav">
      <li> <a href="/">HOME</a> > </li>
      <li> <a href="/discography/">DISCOGRAPHY</a> > </li>
      <li> {{ page.project_name }} </li>
    </ul>
  </div>
  {% endif %}
  {% if page.layout == "discography" %}
  <div class="col-sm-6 nav-wrapper">
    <ul class="breadcrumb-nav">
      <li> <a href="/" >HOME</a> > </li>
      <li> Discography </li>
    </ul>
  </div>
  {% endif %}
</div>
