<div class="row site-header">
  <div class="col-sm-6">
    <h1><a href="/" class="site-logo" target="_blank">RedHouse</a></h1>
    {% if page.layout == "home" %}
    <p class="site-tagline">RedHouse is the multi-disciplinary music studio of Gijs van klooster. For freelance enquiries please <a href="#" target="_blank"> in touch</a>.</p>
    {% endif %}
  </div>
  {% if page.layout == "project" %}
  <div class="col-sm-6 nav-wrapper">
    <ul class="breadcrumb-nav">
      <li> <a href="/" target="_blank">home</a> / </li>
      <li> <a href="/discography/" target="_blank">discography</a> / </li>
      <li> {{ page.project_name }} </li>
    </ul>
  </div>
  {% endif %}
  {% if page.layout == "discography" %}
  <div class="col-sm-6 nav-wrapper">
    <ul class="breadcrumb-nav">
      <li> <a href="/" target="_blank">home</a> / </li>
      <li> discography </li>
    </ul>
  </div>
  {% endif %}
</div>
