<div class="section-social-media">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-heading" ><img src="/img/header_invisible.png" width="350" height="60" alt=""/></h3>
      </div>
      <div class="col-sm-6 site-social-media">
        <p align="center">Stay up to date on my <a href="{{ site.facebook_url }}" target="blank" class="red-link">Facebook</a> page.<br />&nbsp;</p>    
        <div class="fb-page" data-href="https://www.facebook.com/gijsvankloostermusic" data-tabs="timeline" data-width="500" data-height="420" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/gijsvankloostermusic" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/gijsvankloostermusic">Gijs van Klooster Music</a></blockquote></div>       
      </div>
      <div class="col-sm-6 site-social-media">
        <p align="center">Follow me on <a href="{{ site.instagram_url }}" target="blank" class="red-link">Instagram</a>.<br />&nbsp;</p>
        <div id="instafeed"></div>
        <script src="/js/instafeed.js"></script>
      </div>
      <div class="col-sm-12">
        <h3 class="section-heading" ><img src="/img/header_invisible.png" width="350" height="60" alt=""/></h3>
      </div>
    </div>
  </div>
</div>