---
layout: default
---
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
<script src="/js/instafeed.min.js"></script>


<div class="discography-section-hero">
  <div class="container">
    {% include nav.html %}
    <div class="row">
      <div class="col-sm-6">
        <h3 class="section-heading"><img src="/img/header_discography.png" width="350" height="60" alt=""/></h3>
        {{ content }}
      </div>
      <div class="col-sm-6">
        <h3 class="section-heading"><img src="/img/header_invisible.png" width="10" height="50" alt=""/></h3>
        <div id="discoSlider" class="carousel slide" data-ride="carousel" data-interval="3000" style="padding-bottom: 50px">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            {% for slide in page.slides %}
              <div class="item">
                <img src="/slides/{{ slide.filename }}" alt="{{ slide.filename }}" style="width:100%;">
              </div>
            {% endfor %}
          </div>
        </div>
        <iframe src="https://open.spotify.com/embed/playlist/639bLV8bg2RZAg74NtVFWD" width="100%" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="discography-section-projects">
  <div class="container">
    <div class="row">
      {% for project in site.projects reversed %}
      <div class="col-sm-3 col-xs-6">
        <a href="{{ project.url }}" class="project-button">
        <div class="project-box">
          <div class="project-box-thumb-large">
            <img src="/img/{{ project.project_thumb_large }}" alt="">
            <img src="/img/{{ project.project_thumb_large_hover }}" class="project-box-thumb-large-hover" alt="">
          </div>
          <p>&nbsp;<br />
          {{project.title}}</p>
          <p class="project-box-role">{{project.role}}</p>
        </div>
      </a>
      </div>
      {% endfor %}
    </div>
    <div class="col-sm-12">
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p align="center"><STRONG>More listed <a href="../../../assets/cv/GijsvanKloosterCVM.pdf" target="_blank" class="red-link">here</a> and on <a href="https://www.discogs.com/artist/413565-Gijs-Van-Klooster?sort=year%2Cdesc&limit=50&filter_anv=0&type=Credits&layout=med" target="_blank" class="red-link">Discogs</a>.</STRONG></p>
      <p>&nbsp;</p>
    </div>
  </div>
</div>

        {% include socials.html %}

