---
layout: default
---

<div class="discography-section-hero">
  <div class="container">
    {% include nav.html %}
    <div class="row">
      <div class="col-sm-6">
        <h3 class="section-heading"><img src="/img/header_discography.png" width="235" height="21" alt=""/></h3>
        {{ content }}
      </div>
      <div class="col-sm-6">
        <div id="discoSlider" class="carousel slide" data-ride="carousel" data-interval="3000" style="margin-top:70px" style="padding-bottom: 50px">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            {% for slide in page.slides %}
              <div class="item">
                <img src="/slides/{{ slide.filename }}" alt="{{ slide.filename }}" style="width:100%;">
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="discography-section-projects">
  <div class="container">
    <div class="row">
      {% for project in site.projects reversed %}
      <div class="col-sm-3 col-xs-6">
        <a href="{{ project.url }}" class="project-button">
        <div class="project-box">
            <img src="/img/{{ project.project_thumb_large }}">
          <p>&nbsp;<br />
          {{project.title}}</p>
          <p class="project-role-box">{{project.role}}</p>
        </div>
      </a>
      </div>
      {% endfor %}
    </div>
    <div class="col-sm-12">
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p align="center"><STRONG>More listed <a href="../../../assets/cv/GijsvanKloosterCVM.pdf" target="blank" class="red-link">here</a> and on <a href="https://www.discogs.com/artist/413565-Gijs-Van-Klooster?sort=year%2Cdesc&limit=50&filter_anv=0&type=Credits&layout=med" target="blank" class="red-link">Discogs</a>.</STRONG></p>
      <p>&nbsp;</p>
    </div>
  </div>
</div>

