---
layout: default
---

<div class="home-section-hero">
  <div class="container">
    {% include nav.html %}
    <div class="row">
      <div class="col-sm-6">
        {{ page.about_text }}
      </div>
    </div>
  </div>
</div>




<div class="home-section-studio">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="section-heading"><img src="/img/header_studio.png" width="235" height="21" alt=""/></h3>
        {{ page.studio_section_text }}
      </div>
        {% include modal.html %}
    </div>
  </div>
</div>




<div class="home-section-services">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-heading"><img src="/img/header_services.png" width="235" height="21" alt=""/></h3>
      </div>
      <div class="col-sm-6">
        {{ page.services_section_text_left }}
      </div>
      <div class="col-sm-6">
        {{ page.services_section_text_right }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-6 home-section-services-process ">
        <div class="process-box">
          <p><img src="/img/Icon_PreProd.png" width="130" height="65" alt=""/></p>
          <p class="process-box-title">Pre Production</p>
          <p>We’ll talk, listen to demos and find what is important for your music. How to present your music to your listeners. Prepare, fine tune and practice performances.<br />I will plan the production to materialize your vision.</p>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6 home-section-services-process ">
        <div class="process-box">
          <p><img src="/img/Icon_Produce.png" width="130" height="65" alt=""/></p>
          <p class="process-box-title">Production</p>
          <p>Construct and conceive all the musical layers. Recording whatever anywhere that fits. I can assist with composing, arrangements, sounddesign, help you perform your songs and make a snapshot of your peak performance.</p>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6 home-section-services-process ">
        <div class="process-box">
          <p><img src="/img/Icon_Mixer.png" width="130" height="65" alt=""/></p>
          <p class="process-box-title">Mix</p>
          <p>With the recorded material we’ll sit in the lab and edit takes, add FX and mix it to enhance the story lines. Balance the position of all sounds. We'll paint a picture for your audience.</p>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6 home-section-services-process ">
        <div class="process-box">
          <p><img src="/img/Icon_Speaker.png" width="130" height="65" alt=""/></p>
          <p class="process-box-title">Mastering</p>
          <p>I can do the mastering or we send the mix to a mastering studio of our choice but I will make sure that in the end everybody is happy.</p>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="home-section-discography">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-heading"><img src="/img/header_discography.png" width="235" height="21" alt=""/></h3>
      </div>

      {% for project in site.projects reversed %}
      {% if project.show_on_frontpage == true %}
      <div class="col-sm-3 col-xs-6 home-section-discography-project ">
          <a href="{{ project.url }}" class="project-button">
          <div class="project-box">
              <img src="/img/{{ project.project_thumb_large }}">
            <p>&nbsp;<br />
            {{project.title}}</p>
            <p class="project-role-box">{{project.role}}</p>
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}

      <div class="col-sm-3 col-xs-6">
        <a href="/discography/" class="project-button">
          <div class="project-box">
            <div class="project-show-all">
                <img src="/img/see-all-3-dots.png">
                <p>&nbsp;<br />
                MORE</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>



<div class="home-section-testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="discoSlider" class="carousel slide" data-ride="carousel" data-interval="15000"">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            {% for slide in page.slides %}
            <div class="item">
                <img src="/slides/{{ slide.filename }}" alt="{{ slide.filename }}" style="width:100%;">
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


