---
layout: default
---

<div class="home-section-hero">
  <div class="container">

    {% include nav.html %}
    <div class="row">
      <div class="col-sm-6">


        {{ page.about_text }}

      </div>
    </div>
  </div>
</div>


<div class="home-section-discography">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-heading">Discography</h3>
      </div>

      {% for project in site.projects reversed %}
      {% if project.show_on_frontpage == true %}
      <div class="col-sm-3 col-xs-6 home-section-discography-project ">
          <a href="{{ project.url }}" class="project-button">
          <div class="project-box">

              <img src="/img/{{ project.project_thumb_large }}">

          <p >
            {{project.title}}
          </p>
            <p class="project-categories">{{project.role}}</p>
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
      <div class="col-sm-3 col-xs-6">
        <a href="/discography/" class="project-button">
          <div class="project-box">
            <div class="project-show-all">
                <img src="/img/see-all-3-dots.png">
                <br> SEE ALL
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="home-section-studio">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="section-heading">Studio</h3>
        {{ page.studio_section_text }}
      </div>

      {% include modal.html %}

    </div>
  </div>
</div>

