---
layout: default
---
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
<script src="/js/instafeed.min.js"></script>


<div class="home-section-hero">
  <div class="container">
    {% include nav.html %}
    <div class="row">
      <div class="col-sm-6">
        {{ page.about_text }}
      </div>
    </div>
  </div>
</div>




<div class="home-section-services">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-heading"><img src="/img/header_services.png" width="330" height="50" alt=""/></h3>
      </div>
      <div class="col-sm-6">
        {{ page.services_section_text_left }}
      </div>
      <div class="col-sm-6">
        {{ page.services_section_text_right }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-xs-6 home-section-services-process ">
        <div class="process-box">
          <p><img src="/img/Icon_PreProd.png" width="130" height="65" alt=""/></p>
          <p class="process-box-title">Pre Production</p>
          <p>Together we’ll talk, listen to demos to find the core of your music. We focus on how to present your music to your audience. Prepare, fine tune and practice performances.<br />A technical plan will guide the production phase.</p>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6 home-section-services-process ">
        <div class="process-box">
          <p><img src="/img/Icon_Produce.png" width="130" height="65" alt=""/></p>
          <p class="process-box-title">Production</p>
          <p>Construct and conceive all the musical layers and record everything we need. I can assist with composing, arrangements, sound design, help you perform your songs. Our mission is to record your ultimate peak performance.</p>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6 home-section-services-process ">
        <div class="process-box">
          <p><img src="/img/Icon_Mixer.png" width="130" height="65" alt=""/></p>
          <p class="process-box-title">Mix</p>
          <p>An important part is to edit all tracks and add FX to enhance the story lines. Mixing is performing the perfect balance between all sounds and instruments to create a beautiful listening experience.</p>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6 home-section-services-process ">
        <div class="process-box">
          <p><img src="/img/Icon_Speaker.png" width="130" height="65" alt=""/></p>
          <p class="process-box-title">Mastering</p>
          <p>Mastering is done at a specialized mastering studio under my supervision. This will ensure that your listeners can enjoy your work to the fullest on all speakers.</p>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="home-section-testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="discoSlider" class="carousel slide" data-ride="carousel" data-interval="15000"">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            {% for slide in page.slides %}
            <div class="item">
                <img src="/slides/{{ slide.filename }}" alt="{{ slide.filename }}" style="width:100%;">
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="home-section-studio">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="section-heading" ><img src="/img/header_studio.png" width="330" height="50" alt=""/></h3>
        {{ page.studio_section_text }}
      </div>
        <img src="/img/header_invisible.png" width="10" height="80" alt=""/>
        {% include modal.html %}
    </div>
  </div>
</div>





<div class="home-section-discography">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-heading" ><img src="/img/header_discography.png" width="330" height="50" alt=""/></h3>
      </div>

      {% for project in site.projects reversed %}
      {% if project.show_on_frontpage == true %}
      <div class="col-sm-3 col-xs-6 home-section-discography-project ">
          <a href="{{ project.url }}" class="project-button">
          <div class="project-box">
              <img src="/img/{{ project.project_thumb_large }}">
            <p>&nbsp;<br />
            {{project.title}}</p>
            <p class="project-role-box">{{project.role}}</p>
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}

      <div class="col-sm-3 col-xs-6">
        <a href="/discography/" class="project-button">
          <div class="project-box">
            <div class="project-show-all">
                <img src="/img/see-all-3-dots.png">
                <p class="project-big-more" >&nbsp;<br />
                MORE</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="home-section-social-media">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="section-heading" ><img src="/img/header_studio.png" width="330" height="50" alt=""/></h3>
        <div class="fb-page" data-href="https://www.facebook.com/gijsvankloostermusic" data-tabs="timeline" data-width="500" data-height="557" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/gijsvankloostermusic" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/gijsvankloostermusic">RedHouse Music Studio</a></blockquote></div>        
      </div>
      <div class="col-sm-6">
        <h3 class="section-heading" ><img src="/img/header_studio.png" width="330" height="50" alt=""/></h3>
        <div id="instafeed"></div>
        <script src="/js/instafeed.js"></script>
      </div>
    </div>
  </div>
</div>





