---
layout: default
---

<style>
  .project-section-main {
    background-image: url( /img/{{ page.project_background_image }} );
    background-position: center;
  }
</style>
<div class="project-section-font">


<div class="project-section-main">
  <div class="container">
    {% include nav.html %}

    <div class="row">
      <div class="col-sm-12">
        <h3 class="project-title"> {{ page.title }} </h3>
        <h3 class="project-categories"> {{ page.role }} </h3>
      </div>
      <div class="col-sm-6 project-content social-icon">

        {{ content }}
        {% include custom_audio_player.html %}
        <br />
        {% if page.artist_website %}
        <a href="{{ page.artist_website }}" class="artist-website" target="_blank"> {{ page.artist_name }} Website </a>
        {% endif %}
        {% if page.artist_itunes %}
        <a href="{{ page.artist_itunes }}" class="artist-social" target="_blank"> <i class="fa fa-apple" aria-hidden="true"></i></a>
        {% endif %}
        {% if page.artist_spotify %}
        <a href="{{ page.artist_spotify }}" class="artist-social" target="_blank"> <i class="fa fa-spotify" aria-hidden="true"></i></a>
        {% endif %}

        {% if page.artist_soundcloud %}
        <a href="{{ page.artist_soundcloud }}" class="artist-social" target="_blank"> <i class="fa fa-soundcloud" aria-hidden="true"></i></a>
        {% endif %}

        {% if page.artist_facebook %}
        <a href="{{ page.artist_facebook }}" class="artist-social" target="_blank"> <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        {% endif %}

      </div>
      {% include modal.html %}

    </div>

  </div>
</div>

{% capture the_collection %}{{page.collection}}{% endcapture %}
{% if page.collection %}
  {% assign  document = site[the_collection]  %}
{% endif %}
{% for links in document  %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
    {% assign prev_url = prev.url %}
    {% assign prev_thumb = prev.project_thumb_small %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign next_url = next.url %}
      {% assign next_thumb = next.project_thumb_small %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}
</div>
<div class="project-section-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        {% if next_url %}
        <div class="project-nav prev">
          <a href="{{ next_url }}">
            <div class="paginate">
              <img src="/img/{{ next_thumb }}" alt="">&larr;
            </div>
          </a>
        </div>
        {% endif %}
      </div>
      <div class="col-xs-4">
        <div class="project-nav all">
          <a href="/discography/">
            <div class="paginate">
              <img src="/img/see-all-3-dots.png" alt="" >MORE
            </div>
          </a>
        </div>
      </div>

      <div class="col-xs-4">
        {% if prev_url %}
        <div class="project-nav next">
          <a href="{{ prev_url }}">
            <div class="paginate">
              <img src="/img/{{ prev_thumb }}" alt="" >&rarr;
            </div>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
